In [1]:
altura = [1.57, 1.60, 1.69, 1.70]

In [2]:
print(altura)

[1.57, 1.6, 1.69, 1.7]

In [3]:
type(altura)

list

In [4]:
altura_nome = ['Tainã', 1.57, 'Neidinha', 1.60, 'Andrea', 1.69, 'Maybi', 1.70]

In [5]:
type(altura_nome)

list

In [6]:
print(altura_nome)

['Tainã', 1.57, 'Neidinha', 1.6, 'Andrea', 1.69, 'Maybi', 1.7]

## Lista de listas

In [7]:
altura_nome2 = [['Tainã', 1.57], 
                ['Neidinha', 1.60],
                ['Andrea', 1.69], 
                ['Maybi', 1.70]]

In [8]:
print(altura_nome2)

[['Tainã', 1.57], ['Neidinha', 1.6], ['Andrea', 1.69], ['Maybi', 1.7]]

In [15]:
type(altura_nome2)

list

## Transformando lista em Data Frame

In [9]:
pip install pandas

Requirement already satisfied: pandas in c:\users\maybi\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\maybi\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\maybi\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\maybi\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\maybi\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd

df = pd.DataFrame(altura_nome2)

In [12]:
df

          0     1
0     Tainã  1.57
1  Neidinha  1.60
2    Andrea  1.69
3     Maybi  1.70

In [13]:
df.columns = ['nome', 'altura']

In [14]:
df

       nome  altura
0     Tainã    1.57
1  Neidinha    1.60
2    Andrea    1.69
3     Maybi    1.70

## Indexação no Python

In [16]:
altura_nome2[1]

['Neidinha', 1.6]

In [17]:
altura_nome[0]

'Tainã'

In [18]:
altura_nome2[0]

['Tainã', 1.57]

In [19]:
altura-nome2[0:3] #do 0 ao 2, não inclui o 3

NameError: name 'nome2' is not defined

In [20]:
altura_nome2[0:3] # do 0 ao 2, não inclui o 3

[['Tainã', 1.57], ['Neidinha', 1.6], ['Andrea', 1.69]]

## Exercícios
## Questão 1

- Crie as variáveis: quarto, sala, banheiro e cozinha. Preencha com valores de área $(m^2)$.

- Agora, crie uma lista chamada area, que receba as variáveis criadas anteriormente.

- Imprima a lista area e seu tipo

In [1]:
quarto = 8

In [3]:
sala = 15

In [5]:
banheiro = 4

In [6]:
cozinha = 10

In [7]:
area = ['quarto',8, 'sala',15, 'banheiro',4, 'cozinha', 10 ]

In [8]:
print(area)

['quarto', 8, 'sala', 15, 'banheiro', 4, 'cozinha', 10]

In [9]:
type(area)

list

In [10]:
area_2 = [quarto, sala, banheiro, cozinha]

In [11]:
area_2

[8, 15, 4, 10]

In [12]:
type(area_2)

list

In [13]:
type(area_2[2])

int

## Questão 2

- Atualize a lista 'area' intercalando os nomes dos ambientes, e as variáveis que representam suas medidas.

- Imprima area novamente e seu tipo.

- Criar uma lista de lista.

In [14]:
area_2 = ['quarto', quarto, 'sala', sala, 'banheiro', banheiro, 'cozinha', cozinha]

In [15]:
area_2

['quarto', 8, 'sala', 15, 'banheiro', 4, 'cozinha', 10]

In [16]:
type(area_2)

list

In [17]:
area[5]

4

In [18]:
area_3 = [['quarto',quarto], ['sala',sala], ['banheiro',banheiro], ['cozinha',cozinha]]

In [19]:
area_3

[['quarto', 8], ['sala', 15], ['banheiro', 4], ['cozinha', 10]]

In [23]:
len(area_3) # A lista tem 4 elementos, mas os índices vão de 0 a 3

4